.container {
    margin: 0 auto;
    width: 25%;
}

.section-one {
    background-color: #BFC1C1;
    width: 100%;
    height: 215px;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
}
.section-two {
    height:100px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}
h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.section-three {
    height: 250px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    height: 50px;
}

.black {
    background-color: black;
}
.red {
    background-color: red;
}

.light-blue{
    background-color: deepskyblue;
}

.purple {
    background-color: purple;
}

.light-grey {
    background-color: #BFC1C1;
}
/*500px height for entire thing*/


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.blur {
    color: transparent;
    text-shadow: 0 0 1px rgba(0,0,0,0.9);
}


