.container {
    width: 50%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section-one {
    height: 33%;
    width: 100%;
    background-color: #BC4448;
    overflow: auto;
}

.section-two {
    height: 33%;
    width: 100%;
    overflow: auto;
}

.section-three {
    height: 33%;
    width: 100%;
    overflow: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flex-box {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
li {
    display: inline-block;
}

.col-one{
    width: 25%;
    height: 264px;
    background-color: #1E66A6;
}
.col-two {
    width: 50%;
    height: 264px;
    background-color: #BFA900;
}

.col-three {
    width: 50%;
    height: 264px;
    background-color: #23991A;
}
